.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}

.text-center {
  text-align: center;
}

.btn {
  border: 1px solid #fff;
  border-radius: 15px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  font-size: 1.5rem;
}
